<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="container">
                        <%= user_avatar(current_user, 'profile-avatar mx-auto d-block') %>
                        <h5><%= current_user.name %></h5>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <strong><%= link_to current_user.following.count, "#" %></strong>
                                <div>following</div>
                            </div>
                            <div class="col-lg-6">
                                <strong><%= link_to current_user.followers.count, "#" %></strong>
                                <div>followers</div>
                            </div>
                        </div>
                            <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                <strong><%= link_to current_user.words_learned, words_path %></strong>
                                <div>Words learned</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <h6>Activity Feed</h6>
                </div>
                <div class="card-body">
                    <% @feed.each do |activity|%>
                        <% if activity.action_type == "Lesson" %>
                            <div class="container mt-2">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <% if activity.user == current_user %>
                                            <%= user_avatar(current_user, 'feed-avatar mr-3') %>
                                        <% else %>
                                            <%= user_avatar(activity.user, 'feed-avatar mr-3') %>
                                        <% end %>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <%= link_to_if activity.user == current_user, "You", user_path(current_user) do
                                            link_to activity.user.name, user_path(activity.user.id) end %> learned 
                                        <%= activity.action.lesson_results %> of 
                                        <%= activity.action.words.size %> in 
                                        <%= link_to activity.action.category.title, lesson_path(activity.action.id) %>
                                        <div>
                                            <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        <% else %>
                            <div class="container mt-2">
                                <div class="media">
                                    <div class="media-left">
                                        <% if activity.user == current_user %>
                                            <%= user_avatar(current_user, 'feed-avatar mr-3') %>
                                        <% else %>
                                            <%= user_avatar(activity.user, 'feed-avatar mr-3') %>
                                        <% end %>
                                    </div>
                                    <div class="media-body align-self-center">
                                        <%= link_to_if activity.user == current_user, "You", user_path(current_user) do
                                            link_to activity.user.name, user_path(activity.user.id) end %> followed 
                                        <%= link_to relationship_activity(activity.action.followed_id).name, user_path(activity.action.followed_id) %>
                                        <div>
                                            <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>	
                    <% end %>
                </div>
                <div class="card-footer">
                    <div class="pagination justify-content-center">
                        <%= paginate @feed, window: 1 %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>