<% provide(:title, "Signup") %>
<%= render 'shared/about' %>
<section>
    <div class="login-container container mt-100">
	    <div class="row">
		    <div class="col-md-4 login-sec">
		        <h2 class="text-center">Sign-up</h2>
                <%= form_for(@user, url: signup_path(anchor: 'auth'), html: { id: 'auth' }) do |f| %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <hr>
                    <div class="form-group">
                        <%= f.text_field :name, class: 'form-control', 
                                                placeholder: 'User Name' %>
                    </div>
                    <div class="form-group">
                        <%= f.email_field :email, class: 'form-control', 
                                                placeholder: 'Email' %>
                    </div>
                    <div class="form-group">
                        <%= f.password_field :password, class: 'form-control', 
                                                        placeholder: 'Password' %>
                    </div>
                    <div class="form-group">
                        <%= f.password_field :password_confirmation,  class: 'form-control', 
                                                                    placeholder: 'Re-enter your password' %>
                    </div>
                    <div class="form-group text-right">
                        <%= link_to "Sign-in", login_path(anchor: 'auth'), class: 'btn btn-link' %>
                        <%= f.submit "Register", class: 'btn btn-primary' %>
                    </div>
		        <% end %>
		    </div>
		    <div class="col-md-8 banner-sec">
                <div id="carouselExampleIndicators" class="carousel slide mh-618" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner mh-618" role="listbox">
                        <div class="carousel-item active mh-618">
                            <%= image_tag 'auth_image-1.jpeg', class: 'd-block auth-image', alt: "test1" %>
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>Socialize</h2>
                                    <p>Follow the progress of other users and social with them.</p>
                                </div>	
                            </div>
                        </div>
                        <div class="carousel-item mh-618">
                            <%= image_tag 'auth_image-2.jpeg', class: 'd-block auth-image', alt: "test2" %>
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>Improve your grammar</h2>
                                    <p>Some categories are available to test and let you improve your english grammar</p>
                                </div>	
                            </div>
                        </div>
                        <div class="carousel-item mh-618">
                            <%= image_tag 'auth_image-3.jpeg', class: 'd-block auth-image', alt: "test3" %>
                            <div class="carousel-caption d-none d-md-block">
                                <div class="banner-text">
                                    <h2>Language Learning</h2>
                                    <p>Browse through various levels of categories in learning different languages such as Nihonggo and Korean.</p>
                                </div>	
                            </div>
                        </div>
                    </div>
                </div>	   
            </div>
	    </div>
    </div>
</section>