<% provide(:title, "Profile") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <div class="container">
                        <%= user_avatar(@user, 'profile-avatar mx-auto d-block') %>
                        <h5><%= @user.name %></h5>
                        <small class="text-muted"><%= @user.email %></small>
                        <hr>
                        <div class="row">
                            <div class="col-lg-6">
                                <strong id="following"><%= link_to @user.following.count, following_user_path(@user) %></strong>
                                <div>following</div>
                            </div>
                            <div class="col-lg-6">
                                <strong id="followers"><%= link_to @user.followers.count, followers_user_path(@user) %></strong>
                                <div>followers</div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                <strong><%= link_to @user.words_learned, user_words_path(@user) %></strong>
                                <div>Words learned</div>
                            </div>
                        </div>
                        <hr>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6>Activity Feed</h6>
                        </div>
                        <% if !current_user?(@user)%>
                            <div class="col-lg-6">
                                <%= render partial: 'html_follow', locals: { user: @user } %>
                            </div>
                        <% end %>
                    </div>
                </div>
                <div class="card-body">
                    <% if @activities.any? %>
                        <% @activities.each do |activity|%>
                            <% if activity.action_type == "Lesson" %>
                                <div class="container mt-2">
                                    <div class="media">
                                        <div class="media-left">
                                            <%= user_avatar(@user, 'feed-avatar mr-3') %>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <%= link_to_if @user == current_user,"You", user_path(@user) do 
                                                                    link_to @user.name, user_path(@user) end %> learned 
                                            <%= activity.action.lesson_results %> of 
                                            <%= activity.action.words.size %> in 
                                            <%= link_to activity.action.category.title, lesson_path(activity.action.id) %>
                                            <div>
                                                <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>                                    
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% else %>
                                <div class="container mt-2">
                                    <div class="media">
                                        <div class="media-left">
                                            <%= user_avatar(@user, 'feed-avatar mr-3') %>
                                        </div>
                                        <div class="media-body align-self-center">
                                            <%= link_to_if @user == current_user, "You", user_path(@user) do 
                                                link_to @user.name, user_path(@user) end %> 
                                                followed <%= link_to relationship(activity.action.followed_id).name, user_path(relationship(activity.action.followed_id).id) %>
                                            <div>
                                                <small class="text-muted"><%= time_ago_in_words(activity.created_at) %></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>	
                        <% end %>
                    <% else %>
                        <h4 class="text-center text-muted"> Nothing to show</h4>
                    <% end %>
                </div>
                <div class="card-footer">
                    <div class="pagination justify-content-center">
                        <%= paginate @activities, window: 1 %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>