<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <%= link_to "Framgia E-Learning System", root_path, class: 'navbar-brand' %>
        
        <button class="navbar-toggler"  type="button" 
                                        data-toggle="collapse" 
                                        data-target="#navbarSupportedContent" 
                                        aria-controls="navbarSupportedContent" 
                                        aria-expanded="false" 
                                        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "Dashboard", '#', class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to "Categories", categories_path, class: 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to "Members", users_path, class: 'nav-link' %>
                </li>
                <% if logged_in? %>
                    <li class="nav-item dropdown">
                        <%= link_to current_user.name, '#',    class: 'nav-link dropdown-toggle', 
                                                        id: 'navbarDropdown', 
                                                        role: 'button',
                                                        data: { toggle: 'dropdown' },
                                                        aria: { haspopup: 'true', expanded: 'false' }
                        %>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <%= link_to "Profile", user_path(current_user), class: 'dropdown-item' %>
                            <%= link_to "Settings", edit_user_path(current_user), class: 'dropdown-item' %>
                            <%= link_to "Logout", logout_path,  method: :delete, 
                                                                class: 'dropdown-item' %>
                            <% if current_user.admin? %>
                                <div class="dropdown-divider"></div>
                                <%= link_to "Manage Categories", admin_categories_path, class: 'dropdown-item' %>
                            <% end %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </div>
</nav>