<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="container">
                    <h2 class="text-center text-muted mt-3">Category Registration</h2>
                    <%= form_for([:admin, @category]) do |f| %>
                        <%= render 'shared/error_messages', object: f.object %>
                        <div class="form-group">
                            <%= f.label :title %>
                            <%= f.text_field :title,    class: 'form-control',
                                                        placeholder: 'Category Title' %>
                        </div>
                        <div class="form-group">
                            <%= f.label :description %>
                            <%= f.text_area :description,   class: 'form-control',
                                                            placeholder: 'Category Description',
                                                            rows: '13' %>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                 <%= link_to "Back", admin_categories_path, class: 'btn btn-link pull-right' %>
                            </div>
                            <div class="col-lg-10">
                                <div class="form-group">
                                    <%= f.submit "Save Category", class: 'btn btn-primary btn-block'%>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>