<div class="container mt-4">
    <h2>Categories</h2>
    <div class="row">
        <% @categories.each do |category| %> 
            <div class="col-lg-6">
                <div class="jumbotron">
                    <% if category.get_lesson(current_user).nil? %>
                        <h3 class="display-6"><%= category.title %></h3>
                        <p class="text-muted"><%= category.description %></p>
                        <%= form_for(@lesson) do |f| %>
                            <%= hidden_field_tag :category_id, category.id %>
                            <%= button_tag class: 'btn btn-primary pull-right' do %>
                                <i class="fa fa-book" aria-hidden="true"></i> Learn
                            <% end %>
                        <% end %>
                    <% else %>
                        <em class="text-muted pull-right">Learned <%= lesson_size(category,current_user) %> of <%= category.words.size %></em>
                        <h3 class="display-6"><%= category.title %></h3>
                        <p class="text-muted"><%= category.description %></p>
                        <%= link_to lesson_path(category.get_lesson(current_user).id), class: 'btn btn-light pull-right' do %>
                            <i class="fa fa-eye" aria-hidden="true"></i> Show results
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
    <div class="pagination justify-content-center">
        <%= paginate @categories, window: 1 %>
    </div>
</div>  