<% provide(:title, "Users") %>
<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h3>Users List</h3>
        </div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% @users.each do |user| %>
                    <tr>
                        <td>
                            <%= user_avatar(user, 'feed-avatar mr-3') %>
                            <%= user.name %>
                        </td>
                        <td><%= user.email %></td>
                        <td><%= admin_users(user) %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <div class="card-footer">
            <div class="container pagination justify-content-center">
            <%= paginate @users, window: 1 %>
            </div>
        </div>
    </div>
</div>