<!DOCTYPE html>
<html>
  <head>
    <title>Trifles - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Nunito&display=swap" rel="stylesheet">
    
    <%= favicon_link_tag 'framgia-brand.png' %> 
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flash_messages' %>
      <div class="content">
        <%= yield %>
      </div>
    <%= render 'shared/footer' %>


    <script>
      $(".alert").delay(4000).slideUp(200, function() {
        $(this).alert('close');
      });
    </script>
  </body>
</html>
