<!DOCTYPE html>
<html>
  <head>
    <title>Elearning - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "session" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'framgia-brand.png' %> 
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet"> 
  </head>

  <body class="login-block">
    <%= render 'shared/navbar' %>
      <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>