<!DOCTYPE html>
<html>
  <head>
    <title>Trifles - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "session" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'framgia-brand.png' %> 
    <link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Nunito&display=swap" rel="stylesheet">
  </head>

  <body class="login-block">
      <%= yield %>
  </body>
</html>